.home-card{
    --background: #fff url('../../assets/img/ionic-sound-wallpaper.jpg') no-repeat center center/cover;
}
ion-toolbar {
    --background-color: transparent;
    --ion-color-base: transparent !important;
}
.bg-transparent {
    background: transparent;
  }