<ion-header class="bg-transparent" >
  <ion-toolbar  color="medium" lines="none">
    <ion-title slot="end" color="medium">Grabadora de audio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding home-card">
  <ion-card class="bg-transparent">
    <ion-card-content>
      <ion-card-header>
        <ion-button color="primary" (click)="stopRecord()" *ngIf="recording">
          <ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Detener grabación
        </ion-button>
        <ion-button color="secondary" (click)="startRecord()" *ngIf="!recording">
          <ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Iniciar grabación
        </ion-button>
      </ion-card-header>
    </ion-card-content>
  </ion-card>
  <ion-list class="bg-transparent">
    <ion-item *ngFor="let audio of audioList; index as i; ">
            <ion-label (click)="enterAudio(audio.id, i)"><small>{{i}}: </small>{{audio.name}}</ion-label>
            <ion-button color="danger" slot="end" fill="clear" size="small" (click)="deleteAudioConfirm(audio.id, i)">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
    </ion-item>
  </ion-list>
</ion-content>